ansible-compat == 25.*
ansible-lint == 25.*
molecule == 25.*
molecule-plugins[docker] == 23.*
molecule-plugins[vagrant] == 23.*
{%- if cookiecutter.windows_support %}
pywinrm  == 0.*
{%- endif %}
pre-commit == 4.*
yamllint == 1.*
